---
import Layout from "../layouts/Layout.astro"
---

<Layout title="About">
  <main
    class="bg-[#f5f3f0] flex justify-center h-screen w-screen overflow-auto"
  >
    <article
      class="h-screen w-screen overflow-auto m-[2.5vh] grid grid-cols-1 lg:grid-cols-12 max-w-screen-2xl"
    >
      <div
        class="col-span-full lg:col-span-7 w-fit h-fit mt-28 lg:mt-0 lg:sticky lg:top-28 text-center lg:text-left"
      >
        <img
          src="/img/sarah.jpeg"
          alt="Sarah Blake"
          class="inline-block w-auto lg:min-w-[75%] lg:max-w-[50%] shadow-[0px_0px_10px_rgba(0,0,0,0.3)]"
        />
      </div>

      <div
        class="col-span-full lg:col-span-5 lg:mt-28 text-left lg:text-right max-w-screen-2xl"
      >
        <h2 class="my-5 lg:my-0 lg:mb-5 text-6xl font-bold opacity-75">
          ABOUT
        </h2>

        <p class="mb-5">
          Sarah Blake grew up in New Jersey, but countless family dinners in
          Philadelphia made Philly feel like home, too. She got her BA in
          Mathematics from The College of New Jersey, then her MA in English
          from The University of Texas at Austin, followed by her MFA in
          Creative Writing from The Pennsylvania State University. Then she
          moved back near Philadelphia, this time on the PA side of the city,
          where she lived for eight years.
        </p>
        <p class="mb-5">
          In 2019, she moved to the UK, published her first novel, and then her
          mother died and her marriage of nearly ten years fell apart. She has
          been piecing her life back together with the help of her family,
          friends, and readers. She writes about these strange years in her
          Substack,
          <a href="https://sarahblake.substack.com/" target="_blank"
            >The Vulgar American.</a
          >
        </p>
        <p class="mb-5">
          More of her writing can be read around the internet. Her short stories
          are at
          <a
            href="https://short-edition.com/en/story/5-min/displaced"
            target="_blank">Short Édition</a
          >,
          <a
            href="https://catapult.co/stories/the-evacuation-short-fiction-by-sarah-blake"
            target="_blank">Catapult</a
          > , and
          <a
            href="https://www.berfrois.com/2019/10/trouble-sarah-blake/"
            target="_blank">Berfrois</a
          >. Her interview series are at
          <a
            href="https://chireviewofbooks.com/author/sarahblakepoetry/"
            target="_blank">The Chicago Review of Books</a
          >
          and at
          <a href="https://therumpus.net/author/sarah-blake/" target="_blank"
            >The Rumpus</a
          >. Her recent poems are at
          <a
            href="https://courtgreen.net/issue-21-2/sarah-blake"
            target="_blank">Court Green</a
          >
          and
          <a href="http://www.nightblockmag.com/sarahblake" target="_blank"
            >NightBlock</a
          >. Her talk on Contemporary Mythopoetics from AWP 2017 was part of the
          <a
            href="https://www.awpwriter.org/magazine_media/podcast_view/356"
            target="_blank">AWP Podcast Series</a
          >.
        </p>
        <p class="mb-5">
          The Sea Witch poems are a collaborative project with Kimberly Quiogue
          Andrews.
          <a
            href="http://www.missourireview.com/archives/kimberly-quiogue-andrews-and-sarah-blake-the-sea-witch-needs-a-mortgage-for-the-land-if-not-for-the-house-of-bones/"
            target="_blank"
            >The Sea Witch Needs a Mortgage for the Land, If Not for the House
            of Bones</a
          > is at <i>The Missouri Review</i>. Other poems from the growing
          collection are in <i>PRISM</i>, <i>Juked</i>, <a
            href="https://youtu.be/IAE4hT2qBlc">The Arkansas International</a
          >,
          <a
            href="http://losangelesreview.org/two-poems-kimberly-quiogue-andrews-sarah-blake/"
            target="_blank"
          >
            The Los Angeles Review</a
          >, <a
            href="http://dusie.blogspot.com/2018/05/tuesday-poem-265-kimberly-quiogue.html"
            target="_blank">DUSIE</a
          > , <a
            href="https://www.jetfuelreview.com/kimberly-quiogue-andrews-and-sarah-blake-spring-2019.html"
            target="_blank">Jet Fuel Review</a
          > , <a
            href="https://www.upthestaircase.org/kimberly-quiogue-andrews-and-sarah-blake.html"
            target="_blank">Up the Staircase</a
          >, and <a
            href="http://www.blacklawrence.com/welcomebacksimonedean/"
            target="_blank"
            >They Said: a Multi-Genre Anthology of Contemporary Collaborative
            Writing</a
          >.
        </p>
        <p class="mb-5">
          Blake has always been interested in collaborative and
          interdisciplinary work. For nearly a decade she has collaborated with
          visual artist and poet, Nicky Arscott, whose work is in both <i
            >Let’s Not Live on Earth</i
          > and <i>In Springtime</i>. <a
            href="https://riseup.bitbucket.io/one-way-to-get-there/#/"
            target="_blank">One Way to Get There</a
          > is a poem in parts, self-published, illustrated by <a
            href="https://www.etsy.com/shop/ATTACKPETER"
            target="_blank">Peter Santa-Maria</a
          >, coded by Noah Schoenholtz using <a
            href="https://github.com/hakimel/reveal.js"
            target="_blank">Reveal.js</a
          > by Hakim El Hattab. Blake’s chapbook,
          <a
            href="http://banangoeditions.tumblr.com/post/149939863311/sarah-blake-named-after-death"
            target="_blank">Named After Death</a
          >, was published alongside a workbook for adults, filled with
          activities and writing prompts, illustrated by Lynne Kovalchik.
        </p>
        <p class="mb-5">
          The entirety of <a
            href="http://www.berfrois.com/tag/the-starship/"
            target="_blank">The Starship</a
          > was first published in daily, illustrated installments at <i
            >Berfrois</i
          >, featuring a different artist each day. And a recording of the
          beginning of <i>The Starship</i>, originally recorded for <i
            >TriQuarterly</i
          >, is in the song, “We’re Getting Older,” by Instar.
        </p>
        <p class="mb-5">
          One poem from <i>Mr. West</i>, “A Day at the Mall Reminds Me of
          America,” was selected by director Ayse Altinok to be made into a
          short film for Motionpoems.
        </p>
        <div class="my-5">
          <iframe
            class="inline max-w-full"
            width="560"
            height="315"
            src="https://www.youtube.com/embed/Rmci5Fm6cmk"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
        <p class="mb-5">
          To celebrate the release of her second novel, <i>Clean Air</i>, Blake
          worked with computer programmer, Maxi Schell, to design <a
            href="https://maxiskell.github.io/clean-air/"
            target="_blank">a small video game</a
          >.
        </p>
        <p class="mb-5">
          For the most up-to-date information about Blake's publications,
          readings, and other events, follow her on <a
            href="https://instagram.com/sarahblakeauthor"
            target="_blank">Instagram</a
          > or subscribe to her <a
            href="https://sarahblake.substack.com/"
            href="_blank">Substack</a
          >.
        </p>
      </div>
    </article>
  </main>
</Layout>

<style>
  a {
    text-decoration: underline;
    font-style: italic;
  }
</style>
