<button
  class="inline-block opacity-50 hover:opacity-75"
  type="button"
  title="menu"
>
  <div class="space-y-2">
    <span class="block w-8 h-0.5 bg-gray-800"></span>
    <span class="block w-8 h-0.5 bg-gray-800"></span>
    <span class="block w-5 h-0.5 bg-gray-800"></span>
  </div>
</button>
