---
import InstagramIcon from "./InstagramIcon.astro"
import SubstackIcon from "./SubstackIcon.astro"
---

<header
  class="width-screen height-[5vh] p-[2.5vh] bg-white fixed z-50 w-[100vw]"
>
  <div class="grid grid-cols-5 max-w-screen-2xl m-auto items-center">
    <h1 class="uppercase text-2xl p-0 col-span-1">Sarah Blake</h1>
    <nav class="text-right col-span-4">
      <a
        class="align-middle mr-2 text-xl opacity-50 hover:opacity-75"
        href="/about"
      >
        about
      </a>
      <a
        class="align-middle mr-2 text-xl opacity-50 hover:opacity-75"
        href="/contact"
      >
        contact
      </a>
      <InstagramIcon />
      <SubstackIcon />
    </nav>
  </div>
</header>
