---
import Hamburger from "./Hamburger.astro"
import InstagramIcon from "./InstagramIcon.astro"
import SubstackIcon from "./SubstackIcon.astro"
---

<header
  class="width-screen height-[5vh] p-[2.5vh] bg-white fixed z-50 w-[100vw]"
>
  <div class="grid grid-cols-4 max-w-screen-2xl m-auto">
    <div class="text-left">
      <Hamburger />
    </div>
    <h1 class="text-center uppercase text-xl p-0 col-span-2">Sarah Blake</h1>
    <div class="text-right">
      <InstagramIcon />
      <SubstackIcon />
    </div>
  </div>
</header>
